{port_specs, [
    {"priv/euv.so", ["c_src/*.c"]}
]}.

{port_env, [
    %% Make sure to set -fPIC when compiling leveldb
    {".*", "CFLAGS", "$CFLAGS -fPIC -g -Wall -Werror"},
    {".*", "DRV_CFLAGS", "$DRV_CFLAGS -Werror -I c_src/libuv/include"},
    {".*", "DRV_LDFLAGS", "$DRV_LDFLAGS c_src/libuv/uv.a"}
]}.

{pre_hooks, [
    {'get-deps', "c_src/build_deps.sh get-deps"},
    {compile, "c_src/build_deps.sh"}
]}.

{post_hooks, [
    {clean, "c_src/build_deps.sh clean"}
]}.
